<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Satis admin{% endblock %}</title>
    <link href="/css/styles.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <header id="header" class="hero-unit">
        <h1>Satis admin</h1>
    </header>
    {% block body %}{% endblock%}
</div>
<script type="text/javascript" src="/js/scripts.js"></script>
</body>
</html>
