<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header id="header" class="hero-unit">
    <h1>Satis admin</h1>
</header>

<div class="container">
    {% block body %}{% endblock%}
</div>

</body>
</html>
