/bin/*
/cache/*
/bower_components
/config/users.json
/config/env_settings.json
/composer.phar
/data/confi*.json
/logs/*.log
/node_modules
/vendor
/web/index.html
/web/packages.json
/web/include
!.gitkeep
!bin/console
.idea
config/deploy_settings.rb