{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ config.name }}</h2>
    <h3>Repositories</h3>
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Url</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for repository in config.repositories %}
                <tr>
                    <td>{{ repository.type }}</td>
                    <td>{{ repository.url }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
