{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ config.name }}<a href="{{ path('config_edit') }}">Edit configuration</a></h2>
    <h3>Repositories</h3>
    <table class="repositories">
        <thead>
            <tr>
                <th>Type</th>
                <th>Url</th>
            </tr>
        </thead>
        <tbody>
            {% for repository in config.repositories %}
                <tr class="repository">
                    <td>{{ repository.type }}</td>
                    <td>{{ repository.url }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
