@import "bootstrap";

.repository {
    @repositoryLabelWidth: 70px;

    .control-label {
        width: @repositoryLabelWidth;
    }
    .controls {
        margin-left: @repositoryLabelWidth + 20;
    }
}
.loading {
    &:before {
        content:    url(/images/ajax-loader.gif);
        display:    inline-block;
        height:     16px;
        width:      16px;
    }
}
